.language {
  font-size: 1.25rem;
  font-weight: 300;
}
.select-language {
  min-width: 20rem;
}
.w-40 {
  width: 40%;
}
.top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding-top: 5px;
}
.bottom {
  padding-bottom: 5px;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.next {
  font-size: 1.25rem;
}
