.top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding-top: 5px;
  }
  .bottom {
    padding-bottom: 5px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  .item {
  
        font-size: 1.25rem;
        font-weight: 300;
    
      
  }