.display-center {
  position: absolute;
  display: block;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.min-1 {
  min-width: 20rem;
}
.min-2 {
  min-width: 22.5rem; 
}
.min-3 {
  min-width: 25rem; 
}
.min-4 {
  min-width: 30rem; 
}
.min-5 {
  min-width: 40rem; 
}