.display-center {
  position: absolute;
  display: block;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.app-grid {
  margin-top: 15px;
}

.hello-message {
  display: inline-block;
}