.display-center {
  position: absolute;
  display: block;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
@keyframes spin {
   100% { transform:rotate(360deg); }
}
.spin {
  animation: spin 1s linear infinite;
}
.h-min-1 {
  min-height: 15rem;
}
.h-min-2 {
  min-height: 17.5rem; 
}
.h-min-3 {
  min-height: 20rem; 
}
.h-min-4 {
  min-height: 25rem; 
}
.h-min-5 {
  min-height: 30rem; 
}

.w-min-1 {
  min-width: 20rem;
}
.w-min-2 {
  min-width: 22.5rem; 
}
.w-min-3 {
  min-width: 25rem; 
}
.w-min-4 {
  min-width: 30rem; 
}
.w-min-5 {
  min-width: 40rem; 
}

.w-40 {
  width: 40%;
}
